<form action="/bookmarks" method="post">
  <label for="bookmark_url"> bookmark url</label>
  <input type="text" name="bookmark_url">
  <label for="title"> title</label>
  <input type="text" name="title">
  <input type="submit" value="Submit">
</form>